<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <!--ARSAE ads hapus code dibawah ini bila memakai Adsterra - Please delete below ads code if you will use Adsterra monetization -->
    <center>{{ printf "<!--ads/auto.txt-->" | safeHTML }}</center>

    <center>
 <!--Ini untuk code ADSTERRA ads anda silahkan ganti dengan code ADSTERRA anda- silahkan hapus code dibawah ini bila memakai ARSAE - Please delete below ads code if you will use ARSAE monetization -->

 
</center>
  </div>
</div>
<div>

</div>