{{ if .IsHome }}
<header class="header {{ if $.Param "hideHomeHeaderWhenMobile" }}hide-mobile{{ end }}">
    {{ if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "slide") }}
        {{ partial "header/header-slide" . | absURL }}
    {{ else if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "img") }}
        {{ partial "header/header-img" . | absURL }}
    {{ else if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "text") }}
        {{ partial "header/header-text" . }}
    {{ else if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "typewriter") }}
        {{ partial "header/header-typewriter" . }}
    {{ else if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "ads") }}
        {{ partial "header/ads-header" . }}
    {{ else }}
        {{ partial "header/custom-header" . }}
    {{ end }}
</header>
{{ end }}